* {
    box-sizing: border-box;
}
html, body, .container {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.logo-box {
    height: inherit;
    width: fit-content;
    font-family: 'Ultra', serif;
    text-align: center;
    font-size: 30px;
    padding-top: 15px;
    color: #2c2727;
}

.nav-bar {
    height: 70px;
    width: inherit;
    display: block;
    background-color: #fefcfc;
    text-align: center;
    display: flex;
}

.large-screen-nav {
    display: none;
}

.nav-bar p {
    display: none;
}

#login-btn {
    display: none;
}

.menu-icon {
    height: inherit;
    width: 60px;
    text-align: center;
    padding-top: 20px;
    padding-left: 18px;
}

.menu-icon-bar {
    width: 24px;
    height: 2px;
    background-color: #2c2727;
    margin: 6px 0;
}

a.logo {
    text-decoration: none;
    margin-left: 13px;
}

.hero-banner {
    height: 181px;
    width: inherit;
    background-image: url(../img/hero.jpg);
    background-size: cover;
    background-position: -27%;
    background-repeat: no-repeat;
    padding-top: 100px;
}

h1 {
    font-size: 16px;
    line-height: 37px;
    text-align: center;
    color: #503f3f;
}
.hero-banner h1 {
    display: none;
}

.home-top-btn {
    height: 40px;
    width: 201px;
    border-width: thin;
    border-radius: 8px;
    margin-left: 62px;
    text-align: center;
    color: white;
    padding-top: 8px;
    background-color: lightseagreen;
    cursor: pointer;
}

.hero-banner .home-top-btn {
    display: none;
}

.seperator {
    height: 1px;
    width: inherit;
    background-color: lightgrey;
    margin-top: 29px;
}

.work-banner {
    min-height: 400px;
    width: inherit;
}

.work-banner-header {
    height: 48px;
    width: inherit;
    text-align: center;
    color: #503f3f;
    font-weight: bolder;
    font-size: larger;
    padding-top: 10px;
}

.work-banner-single {
    min-height: 250px;
    width: 270px;
    margin-left: 26px;
    margin-bottom: 60px;
    border-style: solid;
    border-width: thin;
    border-radius: 7px;
    border-color: lightgrey;
}

.work-banner-single-img {
    height: 154px;
    width: inherit;
    background-image: url('../img/megaphone.jpg');
    background-size: 64%;
    background-position: center;
    background-repeat: no-repeat;
}

.work-banner-single-img-two {
    height: 154px;
    width: inherit;
    background-image: url('../img/investigate.jpg');
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
}

.work-banner-single-img-three {
    height: 154px;
    width: inherit;
    background-image: url('../img/newspaper.jpg');
    background-size: 69%;
    background-position: center;
    background-repeat: no-repeat;
}

.work-banner-single-title {
    height: 27px;
    width: inherit;
    text-align: center;
    font-weight: bolder;
}

.work-banner-single-text {
    min-height: 48px;
    width: inherit;
    text-align: center;
    margin-top: -12px;
    font-size: smaller;
}

.africa-map-div {
    height: 400px;
    width: inherit;
    background-image: url('../img/africaMap3.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.partners {
    height: 150px;
    margin-left: 84px;
    width: 150px;
}

.flags {
    min-height: 250px;
    width: 270px;
    margin-left: 26px;
    margin-bottom: 60px;
}

.flag-one {
    background-image: url('../img/Corruption.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.flag-two {
    background-image: url('../img/Corruption2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.flag-three {
    background-image: url('../img/yahoo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.flag-four {
    background-image: url('../img/Corruption3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.flag-five {
    background-image: url('../img/bridge.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.flag-six {
    background-image: url('../img/FCT-Road.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.flag-seven {
    background-image: url('../img/marine-litter.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.flag-eight {
    background-image: url('../img/Oil-spill.png');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.flag-five {
    background-image: url('../img/bridge.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.partners-single-one {
    background-image: url('../img/andela.jpg');
    background-size: 69%;
    background-position: center;
    background-repeat: no-repeat;
}

.partners-single-two {
    background-image: url('../img/thinkAfrica.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.partners-single-three {
    background-image: url('../img/now.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.partners-single-four {
    background-image: url('../img/unicef.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

footer {
    height: 57px;
    width: inherit;
    padding-left: 42px;
    padding-top: 1px;
    background-color: #2c2727;
    color: white;
}

.seperator-slide {
    margin-top: 0px;
}

.overlay {    
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(32, 178, 170);
    background-color: rgba(32, 178, 170, 0.93);
    overflow-x: hidden; 
    transition: 0.5s; 
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 20px;
    color: ghostwhite;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 1px;
    font-size: 45px;
}

.sign-in-content {
    height: 346px;
    width: 265px;
    margin-left: 26px;
    border-color: lightgrey;
    border-style: solid;
    border-width: thin;
    margin-top: 42px;
    margin-bottom: 53px;
}

.sign-in-header {
    height: 64px;
    width: inherit;
    text-align: center;
    font-size: x-large;
    padding-top: 12px;
    font-weight: bold;
}

#sign-btn {
    width: 129px;
    padding-top: 2px;
    margin-left: 67px;
    font-weight: bold;
    margin-top: -8px;
    outline: none;
    border: none;
}

.sign-note {
    font-size: 14px;
    padding-left: 17px;
}

.sign-note a {
    text-decoration: none;
}

#sign-in-form {
    margin: 0 auto;
    height: 180px;
    width: 229px;
}

input[class="input-field"] {
    width: inherit;
    padding: 12px 20px;
    font-size: 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

@media (min-width: 360px) {
    a.logo {
        margin-left: 29px;
    }
    .home-top-btn {
        margin-left: 82px;
    }
    .work-banner-single {
        margin-left: 44px;
    }
    .flags {
        margin-left: 45px;
    }
    .partners {
        margin-left: 107px;
    }
    footer {
        padding-left: 59px;
    }
    .sign-in-content {
        margin-left: 49px;
        margin-top: 84px;
        margin-bottom: 83px;
    }
}

@media (min-width: 375px) {
    a.logo {
        margin-left: 35px;
    }
    .home-top-btn {
        margin-left: 91px;
    }
    .work-banner-single {
        margin-left: 54px;
    }
    .flags {
        margin-left: 55px;
    }
    .partners {
        margin-left: 114px;
    }
    footer {
        padding-left: 67px;
    }
    .sign-in-content {
        margin-left: 57px;
        margin-top: 87px;
        margin-bottom: 107px;
    }
}

@media screen and (min-width: 375px) , screen and (min-height: 812px) {
    .sign-in-content {
        margin-left: 57px;
        margin-top: 161px;
        margin-bottom: 178px;
    }
  }

@media (min-width: 414px) {
    a.logo {
        margin-left: 55px;
    }
    .home-top-btn {
        margin-left: 109px;
    }
    .work-banner-single {
        margin-left: 72px;
    }
    .flags {
        margin-left: 73px;
    }
    .partners {
        margin-left: 134px;
    }
    footer {
        padding-left: 89px;
    }
    .hero-banner {
        height: 226px;
    }
    .sign-in-content {
        margin-left: 44px;
        width: 324px;
        margin-top: 161px;
        margin-bottom: 178px;
    }
    #sign-in-form {
        width: 278px;
    }
    #sign-btn {
        margin-left: 95px;
    }
}

@media (min-width: 768px) {
    a.logo {
        margin-left: 220px;
    }
    .home-top-btn {
        margin-left: 279px;
    }
    .work-banner-single {
        margin-left: 75px;
    }
    .flags {
        margin-left: 76px;
    }
    .partners {
        margin-left: 34px;
    }
    footer {
        padding-left: 265px;
    }
    .hero-banner {
        height: 423px;
    }
    .partners-container, .flag-container, .work-banner-container {
        display: flex;
        flex-wrap: wrap;
    }
    .work-banner-header {
        margin-bottom: 26px;
    }
    .work-banner-partners {
        min-height: 300px;
    }
    .africa-map-div {
        margin-bottom: 41px;
    }
    .work-banner-single-three {
        margin-left: 243px;
    }
    .sign-in-header {
        margin-bottom: 25px;
    }
    .sign-in-content {
        margin-left: 121px;
        height: 366px;
        width: 535px;
        margin-top: 224px;
        margin-bottom: 307px;
    }
    #sign-in-form {
        width: 394px;
    }
    #sign-btn {
        margin-left: 205px;
    }
    .sign-note {
        padding-left: 70px;
    }
}

@media (min-width: 1024px) {
    .menu-icon {
        display: none;
    }
    .large-screen-nav {
        display: flex;
        height: 47px;
        padding-left: 69px;
        background-color: lightseagreen;
    }
    a.logo {
        margin-left: 66px;
    }
    .work-banner-single {
        margin-left: 52px;
    }
    .flags {
        margin-left: 89px;
    }
    .flag-one, .flag-three, .flag-five, .flag-seven {
        margin-left: 197px;
    }
    .partners {
        margin-left: 86px;
    }
    footer {
        padding-left: 390px;
    }
    .hero-banner {
        height: 603px;
        padding-top: 51px;
        padding-left: 63px;
        background-position: 14%;
        background-position-y: top;
        background-size: 143%;
    }
    .partners-container, .flag-container, .work-banner-container {
        display: flex;
        flex-wrap: wrap;
    }
    .work-banner-header {
        margin-bottom: 26px;
        margin-top: 41px;
    }
    .work-banner-partners {
        min-height: 300px;
    }
    .africa-map-div {
        margin-bottom: 41px;
        height: 697px;
    }
    .large-screen-nav a {
        padding: 8px;
        padding-top: 15px;
        padding-left: 22px;
        padding-right: 22px;
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
        color: ghostwhite;
    }
    .ver-seperator {
        height: inherit;
        width: 1px;
        background-color: ghostwhite;
    }
    #login-btn {
        margin-left: 10px;
        margin-top: 15px;
        width: 100px;
        display: block;
    }  
    .nav-bar p {
        margin-left: 39%;
        font-size: 20px;
        display: block;
    }
    .hero-banner h1 {
        font-size: 68px;
        width: 561px;
        line-height: 71px;
        text-align: center;
        color: #706363;
        display: block;
    }
    .hero-banner .home-top-btn {
        display: block;
        height: 49px;
        width: 344px;
        font-weight: bold;
        font-size: 20px;
        border-width: thin;
        border-radius: 8px;
        margin-left: 98px;
        text-align: center;
        color: white;
        padding-top: 10px;
        background-color: lightseagreen;
        cursor: pointer;
    }
    .container .top-btn-box {
        display: none;
    }
    .small-screen-h1 {
        display: none;
    }
    .seperator {
        display: none;
    }
    .sign-in-content {
        margin-left: 247px;
        margin-top: 344px;
        margin-bottom: 482px;
    }
}

@media (min-width: 1359px) {
    .menu-icon {
        display: none;
    }
    .large-screen-nav {
        display: flex;
        height: 47px;
        padding-left: 187px;
        background-color: lightseagreen;
    }
    a.logo {
        margin-left: 185px;
    }
    .work-banner-single {
        margin-left: 52px;
    }
    .flags {
        margin-left: 26px;
    }
    .partners {
        margin-left: 86px;
    }
    footer {
        padding-left: 559px;
    }
    .hero-banner {
        height: 603px;
        padding-top: 51px;
        padding-left: 172px;
        background-position: 7%;
        background-position-y: top;
        background-size: 103%;
    }
    .partners-container, .flag-container, .work-banner-container {
        display: flex;
        flex-wrap: wrap;
        padding-left: 157px;
    }
    .flag-container {
        padding-left: 66px;
    }
    .work-banner-header {
        margin-bottom: 26px;
        margin-top: 41px;
    }
    .work-banner-partners {
        min-height: 300px;
    }
    .africa-map-div {
        margin-bottom: 41px;
        height: 697px;
    }
    .large-screen-nav a {
        padding: 8px;
        padding-top: 15px;
        padding-left: 22px;
        padding-right: 22px;
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
        color: ghostwhite;
    }
    .ver-seperator {
        height: inherit;
        width: 1px;
        background-color: ghostwhite;
    }
    #login-btn {
        margin-left: 10px;
        margin-top: 15px;
        width: 100px;
        display: block;
    }  
    .nav-bar p {
        font-size: 20px;
        display: block;
    }
    .hero-banner h1 {
        font-size: 68px;
        width: 561px;
        line-height: 71px;
        text-align: center;
        color: #706363;
        display: block;
    }
    .hero-banner .home-top-btn {
        display: block;
        height: 49px;
        width: 344px;
        font-weight: bold;
        font-size: 20px;
        border-width: thin;
        border-radius: 8px;
        margin-left: 98px;
        text-align: center;
        color: white;
        padding-top: 10px;
        background-color: lightseagreen;
        cursor: pointer;
    }
    .container .top-btn-box {
        display: none;
    }
    .small-screen-h1 {
        display: none;
    }
    .seperator {
        display: none;
    }
}

@media (min-width: 1440px) {
    .menu-icon {
        display: none;
    }
    .large-screen-nav {
        display: flex;
        height: 47px;
        padding-left: 187px;
        background-color: lightseagreen;
    }
    a.logo {
        margin-left: 185px;
    }
    .work-banner-single {
        margin-left: 52px;
    }
    .flags {
        margin-left: 26px;
    }
    .partners {
        margin-left: 86px;
    }
    footer {
        padding-left: 602px;
    }
    .hero-banner {
        height: 603px;
        padding-top: 51px;
        padding-left: 172px;
        background-position: 7%;
        background-position-y: top;
        background-size: 103%;
    }
    .partners-container, .flag-container, .work-banner-container {
        display: flex;
        flex-wrap: wrap;
        padding-left: 204px;
    }
    .flag-container {
        padding-left: 118px;
    }
    .work-banner-header {
        margin-bottom: 26px;
        margin-top: 41px;
    }
    .work-banner-partners {
        min-height: 300px;
    }
    .africa-map-div {
        margin-bottom: 41px;
        height: 697px;
    }
    .large-screen-nav a {
        padding: 8px;
        padding-top: 15px;
        padding-left: 22px;
        padding-right: 22px;
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
        color: ghostwhite;
    }
    .ver-seperator {
        height: inherit;
        width: 1px;
        background-color: ghostwhite;
    }
    #login-btn {
        margin-left: 10px;
        margin-top: 15px;
        width: 100px;
        display: block;
    }  
    .nav-bar p {
        margin-left: 624px;
        font-size: 20px;
        display: block;
    }
    .hero-banner h1 {
        font-size: 68px;
        width: 561px;
        line-height: 71px;
        text-align: center;
        color: #706363;
        display: block;
    }
    .hero-banner .home-top-btn {
        display: block;
        height: 49px;
        width: 344px;
        font-weight: bold;
        font-size: 20px;
        border-width: thin;
        border-radius: 8px;
        margin-left: 98px;
        text-align: center;
        color: white;
        padding-top: 10px;
        background-color: lightseagreen;
        cursor: pointer;
    }
    .container .top-btn-box {
        display: none;
    }
    .small-screen-h1 {
        display: none;
    }
    .seperator {
        display: none;
    }
    .sign-in-content {
        margin-left: 467px;
        margin-top: 180px;
        margin-bottom: 228px;
    }
}

@media (min-width: 1583px) {
    .menu-icon {
        display: none;
    }
    .large-screen-nav {
        display: flex;
        height: 47px;
        padding-left: 187px;
        background-color: lightseagreen;
    }
    a.logo {
        margin-left: 185px;
    }
    .work-banner-single {
        margin-left: 52px;
    }
    .flags {
        margin-left: 26px;
    }
    .partners {
        margin-left: 86px;
    }
    footer {
        padding-left: 671px;
    }
    .hero-banner {
        height: 603px;
        padding-top: 51px;
        padding-left: 172px;
        background-position: 7%;
        background-position-y: top;
        background-size: 103%;
    }
    .partners-container, .flag-container, .work-banner-container {
        display: flex;
        flex-wrap: wrap;
        padding-left: 280px;
    }
    .flag-container {
        padding-left: 185px;
    }
    .work-banner-header {
        margin-bottom: 26px;
        margin-top: 41px;
    }
    .work-banner-partners {
        min-height: 300px;
    }
    .africa-map-div {
        margin-bottom: 41px;
        height: 697px;
    }
    .large-screen-nav a {
        padding: 8px;
        padding-top: 15px;
        padding-left: 22px;
        padding-right: 22px;
        text-decoration: none;
        font-size: 14px;
        font-weight: bold;
        color: ghostwhite;
    }
    .ver-seperator {
        height: inherit;
        width: 1px;
        background-color: ghostwhite;
    }
    #login-btn {
        margin-left: 10px;
        margin-top: 15px;
        width: 100px;
        display: block;
    }  
    .nav-bar p {
        margin-left: 748px;
        font-size: 20px;
        display: block;
    }
    .hero-banner h1 {
        font-size: 68px;
        width: 561px;
        line-height: 71px;
        text-align: center;
        color: #706363;
        display: block;
    }
    .hero-banner .home-top-btn {
        display: block;
        height: 49px;
        width: 344px;
        font-weight: bold;
        font-size: 20px;
        border-width: thin;
        border-radius: 8px;
        margin-left: 98px;
        text-align: center;
        color: white;
        padding-top: 10px;
        background-color: lightseagreen;
        cursor: pointer;
    }
    .container .top-btn-box {
        display: none;
    }
    .small-screen-h1 {
        display: none;
    }
    .seperator {
        display: none;
    }
    .sign-in-content {
        margin-left: 507px;
        margin-top: 233px;
        margin-bottom: 228px;
    }
}